# {{ ansible_managed }}
#jinja2:trim_blocks: False

port {{ aws_openvpn.port }}
proto {{ aws_openvpn.proto }}
dev {{ aws_openvpn.dev }}

ca {{ aws_openvpn.keydir }}/ca.crt
cert {{ aws_openvpn.keydir }}/server.crt
key {{ aws_openvpn.keydir }}/server.key
dh {{ aws_openvpn.keydir }}/dh{{ aws_openvpn.key_size }}.pem

persist-key
persist-tun

{% if aws_openvpn.crl_enabled %}
crl-verify {{ aws_openvpn.etcdir }}/crl.pem
{% endif %}

tls-version-min {{ aws_openvpn.tls_version_min }}
tls-cipher {{ aws_openvpn.tls_cipher }}
cipher {{ aws_openvpn.cipher }}
auth {{ aws_openvpn.auth }}

{% if aws_openvpn.server %}
server {{ aws_openvpn.server }}
{% endif %}

ifconfig-pool-persist {{ aws_openvpn.ifconfig_pool_persist }}
keepalive {{ aws_openvpn.keepalive }}

{% if aws_openvpn.comp_lzo -%}
comp-lzo
{% endif %}

status {{ aws_openvpn.status_log }}
log-append  {{ aws_openvpn.log }}
verb {{ aws_openvpn.verb }}

{% if aws_openvpn.user -%}
user {{ aws_openvpn.user }}
{% endif %}

{% if aws_openvpn.group -%}
group {{ aws_openvpn.group }}
{% else -%}
group nogroup
{% endif %}

{% if aws_openvpn.client_to_client %}
client-to-client
{% endif %}

{% for option in aws_openvpn.server_extra_options %}
{{ option }}
{% endfor %}
