# {{ ansible_managed }}
#jinja2:trim_blocks: False

port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev {{ openvpn_dev }}

ca {{ openvpn_keydir }}/ca.crt
cert {{ openvpn_keydir }}/server.crt
key {{ openvpn_keydir }}/server.key
dh {{ openvpn_keydir }}/dh{{ openvpn_key_size }}.pem

persist-key
persist-tun

{% if openvpn_crl_enabled %}
crl-verify {{ openvpn_etcdir }}/crl.pem
{% endif %}

tls-version-min {{ openvpn_tls_version_min }}
tls-cipher {{ openvpn_tls_cipher }}
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth }}

{% if openvpn_server %}
server {{ openvpn_server }}
{% endif %}

ifconfig-pool-persist {{ openvpn_ifconfig_pool_persist }}
keepalive {{ openvpn_keepalive }}

{% if openvpn_comp_lzo -%}
comp-lzo
{% endif %}

status {{ openvpn_status_log }}
log-append  {{ openvpn_log }}
verb {{ openvpn_verb }}

{% if openvpn_user -%}
user {{ openvpn_user }}
{% endif %}

{% if openvpn_group -%}
group {{ openvpn_group }}
{% else -%}
group nogroup
{% endif %}

{% if openvpn_client_to_client %}
client-to-client
{% endif %}

{% for option in openvpn_server_extra_options %}
{{ option }}
{% endfor %}
